<html>
 <head>
 <title>Lojas</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   margin: 15px;
 }
 .table {
 	width: -webkit-fill-available !important;
 }
 .centro {
 	text-align: center;
 }
 .adicionar {
 	color: #fff;
    background-color: #28a745;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #28a745;
 }
 .adicionar:hover {
 	color: #28a745;
    background-color: #fff;
    text-decoration: none;   
 }
 .remover {
 	color: #fff;
    background-color: #dc3545;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #dc3545;
 }
 .remover:hover {
 	color: #dc3545;
    background-color: #fff;
    text-decoration: none;   
 }
 .alterar {
 	color: #fff;
    background-color: #ffc107;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ffc107;
 }
 .alterar:hover {
 	color: #ffc107;
    background-color: #fff;
    text-decoration: none;   
 }
 </style>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
     <a class="navbar-brand" href="/">Papp Filas</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav mr-auto">
         	 <li class="nav-item active">
                 <a class="nav-link" href="/persona/index">Persona<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/produto/index">Produto<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/loja/index">Lojas</a>
             </li>
         </ul>
         <span class="navbar-text">
            PAPP FILAS
         </span>
     </div>
 </nav>
	 <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link" href="/loja/insert">Inserir Loja</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/loja/read">Ver Lojas</a>
	  </li>
	</ul>

	<table class="table">
	    <thead class="thead-dark">
	     <tr>
	         <th>ID</th>
	         <th>Nome</th>
	         <th>Logradouro</td>
			 <th>Telefone</td>
	         <th>Excluir</th>
	         <th>Alterar</th>
	     </tr>
	    </thead>
	     <tbody>
	         <tr th:each="loja : ${listaLojas}">
	             <td th:text="${loja.id}"></td>
	             <td th:text="${loja.nome}"></td>
	             <td th:text="${loja.logradouro}"></td>
				 <td th:text="${loja.telefone}"></td>
	             <td class="centro"><a th:href="@{/loja/delete(id=${loja.id})}" class="remover">Deletar</a></td>
	             <td class="centro"><a th:href="@{/loja/update(id=${loja.id})}" class="alterar">Alterar</a></td>
	         </tr>
	     </tbody>
	 </table>		
	</body>
</html>