<html>
	 <head>
	     <title>Atualizar</title>
	     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	 <style>
 		.produtos-list {
 			padding: 15px;
 		}
 	</style>
	 </head>
	 <body>
		 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
		     <div class="collapse navbar-collapse" id="navbarText">
		         <ul class="navbar-nav mr-auto">
		             <li class="nav-item active">
		                 <a class="nav-link" href="/persona/index">Voltar <span class="sr-only">(current)</span></a>
		             </li>
		         </ul>
		         <span class="navbar-text">
		      PAPP FILAS
		    </span>
		     </div>
		 </nav>
		 <div class="produtos-list">
				<h3>Usuário</h3>
				<form action="/persona/update" method="POST" modelAttribute="persona">
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					  	<input type="text" class="form-control" name ="id" th:value="${persona.id}" id="id_user" readOnly="true">
					  </li>
					  <li class="nav-item">
					    <input type="text" class="form-control" name ="nome" th:value="${persona.nome}" id="nome_user" readOnly="true">
					  </li>
					  <li class="nav-item">
					    <input type="text" class="form-control" name ="cpf" th:value="${persona.cpf}" id="cpf_user" readOnly="true">
					  </li>
					</ul>
				</form>
			 
			  <table class="table">
			     <thead class="thead-dark">
			     <h3>Produtos Comprados</h3>
			     <tr>
			         <th>ID</th>
			         <th>Nome</th>
			         <th>Preço</th>
			     </tr>
			     </thead>
			     <tbody>
			         <tr th:each="personaProduto : ${listaPersonaProdutos}">
			             <td th:text="${personaProduto.produto.id}"></td>
			             <td th:text="${personaProduto.produto.nome}"></td>
			             <td th:text="${personaProduto.produto.valor}"></td>
			         </tr>
			     </tbody>
			 </table>
		 </div>
	 </body>
</html>